<h1>All posts</h1>
<div class='post_index'>
  <%= render partial: 'partials/user', locals: { user: @user } %>
  
  <% Post.includes(:comments).each do |post| %>
    <%= render partial: 'partials/post', locals: { post: post } %>
    
    <% commentp = post.five_recent_comments %>    
    <%= render partial: 'partials/comment', locals: { comment: commentp } %>
    
  <% end %>

  <button type="button" class="btn btn-outline-dark">PAGINATION</button>
</div>
