/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .user_list {
    list-style: none;
 }

 .user_list_item {
    display:flex;
 }

 .user_index {
    display: flex;
 }

 .user_image {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-right: 10px;
 }

 .index_user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border: 2px solid red;
    height: 115px;
    width: 30rem;
    margin-top: 10px;
 }

 .user_name {
    height: 60%;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
 }

 .user_posts_count {
    font-size: 20px;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
 }

 a {
    text-decoration: none;
 }

 .comments_cont {
 }
